body {
  font-family: arial, sans-serif;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

h1 {
  color: rgb(251, 251, 251);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: rgb(251, 251, 251);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 50px auto;
  margin-bottom: 2px;
}

.weather-app {
  padding: 20px;
  padding-right: 20px;
  border: 1px solid wh;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn {
  background-color: aliceblue;
  color: rgb(1, 1, 83);
}

.btn-primary {
  background-color: rgb(1, 1, 83);
  border-color: white;
}

/* Applying a new class to the button */
.custom-primary-btn {
  background-color: rgb(24, 141, 139);
  border-color: rgb(24, 141, 139);
}

/* Change the text color for better contrast */
.btn-primary,
.custom-primary-btn {
  color: white;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin: 10px;
  height: 90px;
  width: 90px;
  margin-top: -7px;
}

.weather-temperature {
  margin-right: 5px;
  margin-top: 1rem;
}

.weather-temperature strong {
  color: white;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16;
  top: -34px;
}

.unit {
  text-decoration: none;
  cursor: default;
}

.unitc {
  text-decoration: none;
  cursor: default;
}

.unit .active {
  cursor: default;
  text-decoration: none;
}

.unit .active:hover {
  text-decoration: none;
  cursor: default;
}

.items {
  float: right;
  position: relative;
  top: -75px;
  left: -50px;
}

.githublink {
  text-decoration: none;
  margin-left: 170px;
  color: blue;
}
